@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Old+Standard+TT:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  font-size: calc(10px + 0.5vw);
  width: 100%;
}

body {
  margin: 0em auto;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.2em 0.2em 0 0.2em;
  font-family: 'Architects Daughter', serif;
  background-color: #a6947e;
  border-bottom: 0.5em solid #d8ccc1;
}

.logoframe {
  border-radius: 50%;
  background-color: #dddad8;
  margin: 0.5em;
}

.logo {
  width: 5em;
  height: 5em;
}

.title {
  color: white;
  font-size: 3em;
  margin: 0.2em;
  margin-left: 0.5em;
  flex-grow: 2;
  text-align: left;
}

.subtitle {
  color: lightgrey;
  font-size: 50%;
  font-weight: normal;
}

.headertext {
  margin: 0em 1em;
  padding: 0.2em 0.2em 0 0.2em;
  text-align: right;
  color: black;
  align-self: flex-end;
  background-color: #d8ccc1;
  border-radius: 5px 5px 0 0;
}

.middle {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.side {
  margin: 0;
  width: 1.2em;
  background-color: #4c4641;
}

main {
  margin: 0;
  background-color: #4c4641;
  padding: 1em;
  border-left: 1em dashed white;
  border-right: 1em dashed white;
  width: 70%;
}

#messagebox {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: white;
  height: 20em;
  width: 90%;
  overflow-x: hidden;
  overflow-y: auto;
}

@keyframes rotation {
  from {transform: rotateY(0deg);}
  to {transform: rotateY(359deg);}
}

.imgrotate {
  animation: rotation 2s linear infinite;
}

#thinkbubble {
  display: none;
  flex-direction: row;
  align-items: center;
}

#thinkbubble p {
  margin: 0;
}

#thinkicon {
  display: block;
  width: 2em;
  height: 2em;
  margin: 0 0.5em;
}

.bubble {
  margin: 0.5em;
  width: 50%;
  padding: 0.5em;
  text-align: left;
  border: 1px solid grey;
  border-radius: 10px;
}

.you {
  color: white;
  background-color: #adc5da;
  align-self: flex-end;
}

.papy {
  background-color: #f3e3cb;
}

.form {
  margin: 1em;
}

.form label {
  color: white;
}

#userentry {
  margin: 1em;
  width: 90%;
}

#map {
  margin: 1em auto;
  width: 90%;
  height: 20em;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: #dbdbdb;
}

footer {
  padding: 0 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #f0f0f0;
  border-top: 2px solid #dcdcdc;
}

#author {
  display: block;
  font-size: 0.8em;
}

.links {
  display: flex;
  margin: 1em;
}

.linkicon {
  display: block;
  margin: 0 0.5em;
  width: 2em;
  height: 2em;
}

@media screen and (max-width: 1000px) {
  header {
    justify-content: center;
  }

  main {
    width: 80%;
    padding: 0.8em;
  }
}

@media screen and (max-width: 700px) {
  header {
    font-size: 0.8em;
  }

  .title {
    text-align: center;
    flex-grow: 0;
  }

  .leftside {
    border-left: 0.8em dashed white;
  }

  .rightside {
    border-right: 0.8em dashed white;
  }

  main {
    border: none;
    width: 100%;
    padding: 0.8em 0em;
  }

  #messagebox {
    width: 100%;
  }

  #map {
    width: 100%;
  }
}

@media screen and (max-width: 370px) {
  .logoframe {
    display: none;
  }
}
